* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.background-color {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row; 
}

.bg-1 {
    flex: 1;
    background-color: #f4dad8;
}

.bg-2 {
    flex: 1;
    background-color:  #f6c181;
}

.about-container {
    width: 85%;
    min-height: 80%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2E8DF;
   
    padding: 20px;

    border-radius: 5px;
    box-shadow: 34px 24px 30px #F28585;
}

.image-container{
    flex: 1;
    
    display: flex;
    justify-content: centre;

    align-items: flex-start;
}
.text-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
   
    
}

.image-container img {
    width: 450px;
    height: 300px;
    margin-left: 60px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 15px;


    
    
    
}
.text-container h1{
    font-size: 50px;
    padding: 10px 0px;
    font-weight: 700;
    color: #b01414;

}
.text-container p{
    font-size: 20px;
    padding: 10px 0px;
    
}
.text-container a{
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
   
    margin-top: 30px;
    background-color: #f44336;
    color: rgb(252, 243, 250);
    font-size: 18px;
    transition: 0.5s all ease-in-out;





}
.text-container a:hover{
    background-color: transparent;
    color: black;
    border: 2px solid #F2B263;
  

}
body {
    background-color: #F2E8DF;
}
#vision h1 {
    margin-top: 60px;
    text-align: center;
    font-weight: bold;
}

.about-1 {
    margin: 30px;
    padding: 5px;
}
.about-1 h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
.about-1 p {
    text-align: center;
    padding: 3px;
    color: black;
}
.about-item {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #F2C6C2;
    padding: 80px 30px;
    box-shadow: 0 0 9px #f44336;
    border-radius: 15px;
}
.about-item i {
    font-size: 43px;
    margin: 0;
}
.about-item h3 {
    font-size: 25px;
    margin-bottom: 10px;
}
.about-item hr {
    width: 46px;
    height: 3px;
    background-color: #f44336;
    margin: 0 auto;
    border: none;
}
.about-item p {
    margin-top: 20px;
}
.about-item:hover {
    background-color: #F28585;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
    color: aliceblue;
}
.about-item:hover hr {
    background-color: aqua;
}
.about-item:hover i {
    transform: translateY(-20px);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr {
    transition: all 400ms ease-in-out;
}


.about-item {
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #F2C6C2;
    padding: 80px 30px;
    box-shadow: 0 0 9px #f44336;
    transition: all 0.3s ease;
}

.about-item:hover {
    background-color: #F28585;
    transform: translateY(-5px);
    box-shadow: 0 0 15px #e4eed0;
}
.about-item i,
.about-item h3,
.about-item p {
    transition: all 0.3s ease;
}

.about-item:hover i {
    transform: translateY(-20px);
}


.contact {
    margin-top: 50px;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    overflow: hidden; 
    color: #0b0b0b; 
    font-weight: 500;
    background-color: #fff3f3; 
}

.content {
    max-width: 800px;
    text-align: center;
    z-index: 1; 
    position: relative;
    align-items: center; 
    display: flex; 
    flex-direction: column; 
}

.container {
    width: 100%;
    max-width: 800px; 
    margin-top: 30px;
    z-index: 1; 
    color: #313030; 
}

.contact .content {
    margin-bottom: 20px; 
}

.contact .container {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
}

.contact .container .contactInfo {
    width: 50%;
}

.contact .container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contact .container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #831e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    margin-right: 20px; 
}

.contact .container .contactInfo .box .text {
    display: flex;
    margin-left: 0; 
    font-size: 16px;
    color: #b01414;
    flex-direction: column;
    font-weight: 300;
}

.contact .container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #0f0428;
    margin: 0; 
    align-self: flex-start; 
}

.contactForm {
    width: 50%; 
    padding: 40px;
    background: #fff;
    color: #000; 
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: calc(100% - 20px); 
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
}

.contactForm .inputBox input[type="submit"] {
    background-color: #f0d0ea;
    color: #333;
    border: 2px solid #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.contactForm .inputBox input[type="submit"]:hover {
    background-color: #333;
    color: #fff;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #00bcd4;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #636363;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

    
    .about-section {
        margin-top: 70px;
        margin-bottom: 70px;
        position: relative;
        padding: 50px 0;
        background-color: #eff0ec; /* Set background color */
        border-radius: 15px; /* Add border radius */
        transition: background-color 0.3s ease; /* Add transition effect */
    }
    
    .about-section:hover {
        background-color: #f3eef0; /* Change background color on hover */
    }
    
    .inner-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px; 
        box-shadow: 0 0 50px rgba(172, 29, 29, 0.1); 
    }
    
    .about-section h1 {
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 700;
    }
    
    .about-section p {
       margin-right: 200px;
        font-size: 16px;
        line-height: 1.6;
        justify-content: center;
    }
    
    .about-image {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 5%; 
        right: 20px; 
        max-width: 30%; 
        border-radius: 15px; 
        transition: transform 0.3s ease; 
    }
    
    .about-image:hover {
        transform: translateY(-50%) scale(1.05); 
    }
    
    footer {
        background-color: #fff3f3;
        padding: 2rem 0; /* Optional: Add some padding for better spacing */
    }
    
    .footer__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
        color: red;
    }
    
    .footer__col h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    
    .footer__col h3 span {
        color: palevioletred;
    }
    
    .footer__col p {
        font-size: 0.8rem;
        margin-bottom: 1rem;
        cursor: pointer;
        transition: 0.3s;
        margin-left: 40px;
    }
    
    .footer__col p:hover {
        color:#00bcd4;
    }
    
    .footer__col p span {
        font-weight: 600;
    }
    
    .footer__col h4 {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    
    .footer__bar {
        max-width: var(--max-width);
        margin: auto;
        padding: 0.5rem;
        text-align: center;
        font-size: 0.8rem;
        color: red;
        border-top: 1px solid black;
    }
    
    @media (max-width: 1200px) {
        .header__image img:nth-child(1) {
            max-width: 300px;
        }
    
        .header__image img:nth-child(2) {
            max-width: 200px;
        }
    }
    
    @media (max-width: 900px) {
        .nav__links {
            display: none;
        }
    
        .header__container {
            grid-template-columns: repeat(1, 1fr);
        }
    
        .header__image {
            min-height: 500px;
        }
    
        .destination__grid {
            gap: 1rem;
        }
    
        .trip__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media (max-width: 600px) {
        .destination__grid {
            grid-template-columns: repeat(2, 1fr);
        }
    
        .trip__grid {
            grid-template-columns: repeat(1, 1fr);
        }
    
        .gallary__container {
            grid-template-columns: repeat(1, 1fr);
        }
    
        .subscribe__container {
            grid-template-columns: repeat(1, 1fr);
        }
    
        .footer__container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    